.breadcrumbs {
    background: rgba(#DFDFDF, .5);
    padding: 13px 14px;
    &__list {
        display: flex;
    }
    &__item::after {
        content: '/';
    }
    &__item:last-child::after {
        content: '';
    }
    &__link {
        font-size: 14px;
        color: $color-default;
    }
}