.partners {
    padding: 16px 0 60px;
    &__items {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
    }
    &__item {
        margin: 0 auto;
    }
}