.decor {
    padding: 170px 0 155px;
    background-image: url('../img/decor-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 616px;
    margin-bottom: 79px;
    &__title {
        max-width: 730px;
        color: $color-title;        
        @extend %title-font;
        font-size: 60px;
        line-height: 80px;
        padding-bottom: 22px;
        margin-bottom: 22px;
        position: relative;
        &::after {
            content: '';
            width: 200px;
            height: 1px;
            border: none;
            background: #6D7278;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    &__text {
        max-width: 540px;
    }
}