.blog-one {
    &__item {
        p {
            margin-bottom: 40px;
        }
        blockquote {
            font-size: 24px;
            line-height: 38px;
            font-weight: 300;
            font-style: italic;
            color: $color-title;
            margin-bottom: 30px;
            padding: 0 42px;
        }
        .blog__blockquote-author {
            text-align: left;
            &::before {
                margin-left: 0;
            }
        }
    }
    &__tags {
        margin-bottom: 30px;
        &-title {
            @extend %title-font;
            color: $color-title;
            font-size: 20px;
            line-height: 31px;
            margin-bottom: 15px;
        }
        &-link {
            display: inline-block;
            margin-bottom: 10px;
            margin-right: 23px;
            padding: 0 16px;
            color: #8F8d8d;
            font-size: 14px;
            font-weight: 600;
            border: 1px solid rgba(#454647, $alpha: .5);
            border-radius: 14px;
        }
    }
    &__links {
        padding: 40px 0 32px;
        border-top: 1px solid #DFDFDF;
        border-bottom: 1px solid #DFDFDF;
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;
    }
    &__link {
        width: 243px;
        position: relative;
        color: #707070;
        font-size: 14px;
        line-height: 28px;
        font-weight: 600;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 12px;
            height: 23px;
        }
        &-prev {
            padding-left: 44px;
            &::before {
                background-image: url(../img/page_blog/arrow_link_prev.svg);
                left: 0;
            }
        }
        &-next {
            padding-right: 44px;
            text-align: right;
            &::before {
                background-image: url(../img/page_blog/arrow_link_next.svg);
                right: 0;
            }
        }
    }
    &__comments {
        &-title {
            color: $color-title;
            @extend %title-font;
            font-size: 20px;
            line-height: 31px;
            margin-bottom: 15px;
        }
        &-item {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 40px;
        }
        &-avatar {
            width: 64px;
            height: 64px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 13px;
        }
        &-name {
            color: $color-title;
            @extend %title-font;
            line-height: 23px;
        }
        &-date {
            margin-bottom: 10px;
            font-size: 14px;
            color: #a1a1a1;
        }
    }
    &__reply {
        background-color: transparent;
        border: none;
        margin-left: 5px;
        padding: 0;
        font-size: 14px;
        font-weight: 600;
        color: #707070;
        cursor: pointer;
    }
    &__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &-title {
            margin-bottom: 25px;
            color: $color-title;
            @extend %title-font;
            line-height: 23px;
        }
        &-textarea {
            resize: none;
            width: 100%;
            border: 1px solid #DFDfDF;
            border-radius: 24px;
            padding: 14px 17px;
            min-height: 125px;
            margin-bottom: 12px;
            &::placeholder {
                color: #a1a1a1;
                font-weight: 400;
                font-size: 16px;
                line-height: 27px;
                font-family: 'Open Sans', sans-serif;
            }
        }
        &-input {
            border: 1px solid #DFDFDF;
            border-radius: 20px;
            padding: 6px 17px;
            margin-bottom: 20px;
            width: 49%;
            &::placeholder {
                color: #A1A1A1;
                font-size: 16px;
                line-height: 27px;
                font-family: 'Open Sans', sans-serif;
            }
        }
        &-label {
            width: 100%;
            margin-bottom: 20px;
            font-size: 14px;
            color: #a1a1a1;
        }
        &-btn {
            border: none;
            background-color: $color-title;
            border-radius: 21px;
            color: #FFFFF0;
            padding: 6px 12px;
            width: 181px;
            cursor: pointer;
        }
    }
}